.album {
  /*display: block;*/
  justify-content: center;
  margin: auto;
  width: 50%;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 1rem;
  margin-bottom: -1rem;
}

.artist {
  font-size: 1.5rem;
}

.icon {
  margin: 1rem 0;
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: auto;
  position: relative;
}

.album-link {
  text-decoration: inherit;
  display: block;
  text-align: center;
}

.album-link img {
  height: 18rem;
  width: 18rem;
}
